.metaStyle {
    margin-top: 8%;
}

.metaMargin {
    margin-top: 3%;
}

.generalText {
    letter-spacing: .1rem;
    text-align: left;
    vertical-align: middle;
    font-size: 0.9rem;
}

.metaTitle {
    letter-spacing: .2rem;
    padding-top: 5px;
}

.floatingResource {
    float: right;
}

.metaFinalButton {
    margin-right: 2%;
}

.metaButton {
    margin-top: 3%;
}

.metaButtonTwo {
    margin-top: 5%;
}

.centerBar {
    margin: 0% auto;
}