.errorMessage {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 90%;
    color: red;
}

.minText {
    margin-top: 0.5rem;
    color: var(--bs-secondary);
    font-size: 0.7rem;
}