.small-radius {
  border-radius: 0.5rem !important;
}

.form-wrapper {
  position: relative;

  &.loading {
    pointer-events: none;
  }

  .spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.row {
  margin: 2% 0%;
}