<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <a routerLink="/"><img src="assets/images/logo-dark.png" alt="" class="image-steps-recovery img-fluid mb-4" /></a>
            <nav class="form-steps">
              <div class="form-steps__item" [class.form-steps__item--active]="view>=1">
                <div class="form-steps__item-content">
                  <span class="form-steps__item-icon">1</span>
                  <span class="form-steps__item-text">Correo</span>
                </div>

              </div>
              <div class="form-steps__item" [class.form-steps__item--active]="view>=2">
                <div class="form-steps__item-content">
                  <span class="form-steps__item-icon">2</span>
                  <span class="form-steps__item-line"></span>
                  <span class="form-steps__item-text">Verificar</span>
                </div>
              </div>
              <div class="form-steps__item" [class.form-steps__item--active]="view>=3">
                <div class="form-steps__item-content">
                  <span class="form-steps__item-icon">3</span>
                  <span class="form-steps__item-line"></span>
                  <span class="form-steps__item-text">Recuperar</span>
                </div>
              </div>
            </nav>
            <div class="fade-in" *ngIf="view==1">
              <div class="text-center">
                <p>Ingresa el correo electrónico asociado a tu usuario</p>
              </div>
              <form #emailForm="ngForm" novalidate="novalidate">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                  <input 
                    #email="ngModel" 
                    name="email" 
                    placeholder="Correo Electrónico" 
                    [(ngModel)]="data.email" 
                    [class.is-invalid]="email.invalid && submitted"
                    type="email"
                    class="form-control"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                    required="true"
                    [readonly]="loading"/>
                </div>
                <div *ngIf="alertMessage.message" class="alert" [class]="alertMessage.type" role="alert">
                  {{alertMessage.message}}
                </div>
              </form>
              <div class="d-grid">
                <button (click)="requestRecoveryCode()" [disabled]="loading" class="btn btn-block btn-primary d-flex align-items-center justify-content-center mb-4">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
                  Solicitar Código
                </button>
              </div>
              <p class="mb-2 text-muted"><a [routerLink]="['/auth/signin']" style="font-weight: 400;"> ¿Recorde mi contraseña? </a></p>
            </div>
            <div class="fade-in" *ngIf="view==2">
              <div class="text-center">
                <p>Ingresa el código de recuperación enviado por correo</p>
              </div>
              <form #codeForm="ngForm" novalidate="novalidate">
                <input 
                  #code="ngModel" 
                  name="code" 
                  placeholder="#####" 
                  [(ngModel)]="data.code" 
                  [class.is-invalid]="code.invalid && submitted"
                  type="text"
                  class="form-control uppercase-form centered-form form-control-lg mb-3"
                  pattern=".{5}" 
                  maxlength="5" 
                  required="true"/>
                <div *ngIf="alertMessage.message" class="alert" [class]="alertMessage.type" role="alert">
                  {{alertMessage.message}}
                </div>
              </form>
              <div class="d-grid">
                <button (click)="validateRecoveryCode()" [disabled]="loading" class="btn btn-block btn-primary d-flex align-items-center justify-content-center mb-4">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
                  Verificar
                </button>
              </div>
              <p class="mb-2 text-muted">Ya tengo usuario - <a [routerLink]="['/auth/signin']" class="f-w-400">Conectarme</a></p>
            </div>
            <div class="fade-in" *ngIf="view==3">
              <div class="text-center">
                <p>Ingresa su nueva contraseña</p>
              </div>
              <form #passwordForm="ngForm" novalidate="novalidate">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                  <input 
                    #newPassword="ngModel" 
                    name="newPassword" 
                    placeholder="Nueva Contraseña" 
                    [(ngModel)]="data.newPassword" 
                    [class.is-invalid]="newPassword.invalid && submitted"
                    type="password"
                    class="form-control"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,25}$" 
                    maxlength="25" 
                    required="true">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-check"></i></span>
                  <input 
                    #confirmPassword="ngModel" 
                    name="confirmPassword" 
                    placeholder="Confirmar Contraseña" 
                    [(ngModel)]="data.confirmPassword" 
                    [class.is-invalid]="((confirmPassword.invalid)||(!newPassword.invalid && !confirmPassword.invalid && data.newPassword != data.confirmPassword)) && submitted"
                    [class.is-invalid]="confirmPassword.invalid && submitted"
                    type="password"
                    class="form-control"
                    required="true">
                </div>
                <div *ngIf="alertMessage.message" class="alert" [class]="alertMessage.type" role="alert">
                  {{alertMessage.message}}
                </div>
              </form>
              <div class="d-grid">
                <button (click)="requestChangePassword()" [disabled]="loading" class="btn btn-block btn-primary d-flex align-items-center justify-content-center mb-4">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
                  Cambiar
                </button>
              </div>
            </div>
            <div class="fade-in" *ngIf="view==4">
              <div class="alert alert-success text-center mb-5">
                <span style="font-size:18px;">Contraseña actualizada de forma satisfactoria</span>
              </div>
              <div class="text-center mt-4">
                <p [routerLink]="['/auth/signin']" class="mb-2" role="button"><i class="fa fa-arrow-left me-2"></i><a class="f-w-400">Regresar a Inicio de Sesión</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
